# IDE / Editor specific
.vscode/
.idea/

# Python virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating System specific
.DS_Store
Thumbs.db

# Project data files (if they are not meant to be in the repo)
data/
processed_data/

# DBT specific folders
dbt_warehouse/
olist_dbt/logs/
olist_dbt/target/
olist_dbt/dbt_packages/

# DBT log files
dbt.log
logs/
log/